.App {
	padding: 20px 5px;
}

.App .github {
	margin-top: 50px;
}

.App .github div {
	margin-top: 10px;
}

.App .clear-all {
	margin-top: 10px;
	display: block;
	padding: 5px 0;
	width: 80px;
	text-align: center;
	background: lightgray;
	border-radius: 5px;
	cursor: pointer;
}

.App .clear-all:hover {
	background-color: #b7b7b7;
}
